html, body  {
  background: #000;
  color: #CCC;
}
#heartbeat  {
  background: black;
  color: #F00;
}

.district {
  stroke-width: 1;
  stroke: #CCC;
}

.district:hover {
  /*fill: #591100;*/
  stroke-width: 3;
}

.selected {
  stroke-width: 5;
}

.headerRow  {
  padding-top: 30px;
}

.map, .span12 {text-align: center;}
h1, h2  {
  font-weight: normal;
  font-family: Abel, Arial, sans-serif;
  text-align: center;
  font-size: 60pt;
  color: #FFF;
}

h2  {
  padding-top: 10px;
  font-size: 30pt;
  color:#AAA;
  border-top:1px solid #999;
}

.content  {
  margin-top: 30px;
  border-radius: 10px;
  /*background: #DDD;*/
  padding-top: 30px;
  padding-bottom: 30px;
}

.filters  {
  
}

.pager a {
  margin: 0px ;
  padding: 15px;
}

.filter-selected  {
  background: #222 !important;
}


.tooltip  {
  position: absolute;
  z-index: 10;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #9f1111;
  color: #000;
  background: #CCC;
  visibility: hidden;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

