<div class="row">
	<div class="col s12">
	<h4>Empty Canvas</h4>
	</div>
</div>


<script>

	b = {
		"Karnataka":
		{
			'a2010': {'consumed':50, 'cost': 45},
			'a2009': {'consumed':50, 'cost': 45},
			'a2008': {'consumed':50, 'cost': 45},
			'a2007': {'consumed':50, 'cost': 45}
		}
	};
	console.log(b.Karnataka.a2010);
	console.log(b.Karnataka.a2010.consumed);

	var a = 10;
	var b = 20;

	var c;

	function swap(a, b)
	{
		var c = a;
		a = b;
		b = c;
	}

	swap(x, y)
	swap(20, 10)

	function printsomething	(text)	{
		console.log(text);
	}
</script>
