<div class="section">
	<h4><span class="grey-text text-lighten-1">#1</span> D3 Tutorial</h4>
	<p>This would be a series of basic experiments with D3.js</p>
	<!-- <div class="card-panel grey lighten-3 hoverable center-align" id="svgbox"></div> -->
</div>
<script>
	// var data = [1, 2, 3, 5];
	// singleunitGraph("#svgbox", data);
	// function singleunitGraph(target, data)	{
	// 	var h = 400, w = 800;
	// 	var canvas = d3.select(target).append('svg');

	// 	canvas.attr('height', h)
	// 	 	.attr('width', w);

	// 	 d3.select('svg').append('circle').attr({'cx': 100, 'cy': 100, 'r': 100, 'fill': 'purple'})
	// }
</script>