<div class="row">
	<div class="col s12">
	<h5>Information Vizualization - for the digital age</h5>
			<span class="card-title black-text">We'll need to assume we have working knowledge of</span>
			<ul class="collection">
				<li class="collection-item">
					<span class="title"><span class="grey-text">#1</span> HTML/CSS</span>
					<p>To make our layouts/grids.</p>
				</li>
				<li class="collection-item">
					<span class="title"><span class="grey-text">#2</span> JS/jQuery / DOM Manipulations</span>
					<p>For most interactivity.</p>
				</li>
				<li class="collection-item">
					<span class="title"><span class="grey-text">#3</span> Browser &amp; Console</span>
					<p>We are going to make mistakes. Let's make sure we can find them.</p>
				</li>
				<li class="collection-item">
					<span class="title"><span class="grey-text">#4</span> HTTP-Server</span>
					<p>Apache / Unix / Python, anything to make things work. Would recommend node.js http-server.</p>
				</li>
				<li class="collection-item">
					<span class="title"><span class="grey-text">#5</span> Raster and Vector graphics</span>
					<p>Quick, what's the different between a .png and a .svg file?</p>
				</li>
			</ul>
	</div>
</div>
