<div class="row">
	<div class="col s12">
	<h5>Information Vizualization - for the digital age</h5>
			<span class="card-title black-text">Confirm that we all agree</span>
			<ul class="collection">
				<li class="collection-item">
					<span class="title"><span class="grey-text">#1</span> Information Visualization is important</span>
					<p>Irrespective for scale. Be it for millions of rows, or for just 3 numbers.</p>
				</li>
				<li class="collection-item">
					<span class="title"><span class="grey-text">#2</span> They help people make critical decision</span>
					<p>Having data, in the right format empowers people to make the right choice.</p>
				</li>
				<li class="collection-item">
					<span class="title"><span class="grey-text">#3</span> Digital mediums are fun</span>
					<p>They are malleable, and you can experiment much faster. And let's face it, we are surrounded by only digital mediums</p>
				</li>
				<li class="collection-item">
					<span class="title"><span class="grey-text">#4</span> It is a <b>designers</b> job</span>
					<p>To be able to design, and communicate those designs in the most effective way.</p>
				</li>
				<li class="collection-item">
					<span class="title"><span class="grey-text">#5</span> Much fun is to be had</span>
					<p>And let's not do this for the sake of an assignment</p>
				</li>
			</ul>
	</div>
</div>
