<div class="row">
	<div class="col s12">
	<h5>Information Vizualization - for the digital age</h5>
			<span class="card-title black-text">Cause processes are important (insert smug face)</span>
			<ul class="collection">
				<li class="collection-item">
					<span class="title"><span class="grey-text">#1</span> Get the data</span>
					<p>D'uh.</p>
				</li>
				<li class="collection-item">
					<span class="title"><span class="grey-text">#2</span> Understand the data</span>
					<p>More important than you think. Most of your visualization happens here.</p>
				</li>
				<li class="collection-item">
					<span class="title"><span class="grey-text">#3</span> Visualize the data, on paper</span>
					<p>Build your hypothesis. Think about the various degrees of abstraction you would want your visualization in. What do you want to do with it? Or if you want to play with it. How would you?</p>
				</li>
				<li class="collection-item">
					<span class="title"><span class="grey-text">#4</span> Clean the data</span>
					<p>The most boring state. You will never get data which is ready for visualization. Based on the concepts you want to reproduce, sort your data out.</p>
				</li>
				<li class="collection-item">
					<span class="title"><span class="grey-text">#5</span> Build</span>
					<p>This is where most action will take place. Build paper prototypes if you need to. Anything. The goal is to communicate.</p>
				</li>
			</ul>
	</div>
</div>

<!-- 1st glance - the graphic
2nd glace - the labels / texts / values
3rd glance - other help-texts
4th glance - interact -->